<!DOCTYPE html>
<html>
<head>
<title>My Site - Blog</title>
</head>
<body>
<h1>My Site - Posts from {{ month}}/{{ year }}</h1>
{% for post in posts %}
<h2><a href="{% url 'blog' post.title %}">{{ post.title }}</a></h2>
{% endfor %}
</body>
</html>
